<div class="container">
  <h1>
    Peaks.js Angular Example
  </h1>

  <p>
    This is a simple example of how to use <a href="https://github.com/bbc/peaks.js">Peaks.js</a> in an Angular application.
  </p>

  <p>
    Audio content is copyright BBC, from the <a href="http://bbcsfx.acropolis.org.uk/?q=07023003">BBC Sound Effects</a> library,
    used under the terms of the <a href="https://github.com/bbcarchdev/Remarc/blob/master/doc/2016.09.27_RemArc_Content%20licence_Terms%20of%20Use_final.pdf">RemArc Licence</a>.
  </p>

  <h3>Select audio</h3>

  <div class="btn-group" role="group" *ngFor="let audio of exampleAudio">
    <button class="btn btn-primary" [class.active]="audio.id === selectedAudio.id" type="button" (click)="onSelect(audio)">
      {{audio.name}}
    </button>&nbsp;
  </div>

  <waveform-view
    [selectedAudio]="selectedAudio"
    (segmentsEmitter)="updateSegments($event)"
    (pointsEmitter)="updatePoints($event)">
  </waveform-view>

  <segments-list [segments]="segments"></segments-list>
  <points-list [points]="points"></points-list>
</div>
